@import "../fonts/Poppins/stylesheet.css";
@import "../fonts/Poppins/stylesheet.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.header {
  margin: 40px 0 97px;
}
.header-container {
  justify-content: space-between;
  position: relative;
}
.header__logo {
  cursor: pointer;
  position: fixed;
  z-index: 2;
}
.header__nav {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #333333;
  align-items: center;
  gap: 74px;
  position: fixed;
  right: 102px;
  z-index: 1;
}
.header__nav .header__links:hover {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #333333;
}
.header__nav .header__links-btn {
  width: 142px;
  height: 49px;
  padding: 14px 32px;
  background: #2C3878;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
.header__nav .header__links-btn:hover {
  width: 142px;
  height: 49px;
  padding: 14px 32px;
  background: #2C3878;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
.header__burger {
  display: none;
  position: relative;
  z-index: 3;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}
.header__burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background: #000;
}
.header__burger::before, .header__burger::after {
  content: " ";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  transition: all 0.3s ease 0s;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  width: 60%;
  bottom: 0;
}
.header__burger.active span {
  transform: scale(0);
}
.header__burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.header__burger.active::after {
  top: 50%;
  transform: rotate(45deg) translate(0, 50%);
  width: 100%;
}

.footer-upper {
  padding: 40px 120px;
  background: #2C3878;
  margin-bottom: 80px;
}
.footer-upper__right-container {
  display: flex;
  justify-content: flex-end;
}
.footer-upper__right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-upper__title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 170%;
  color: #FFFFFF;
}
.footer-upper__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #D9D9D9;
}
.footer-upper__btn {
  width: 142px;
  padding: 14px 32px;
  background: #FFFFFF;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}
.footer-lower__left {
  flex-direction: column;
  gap: 10px;
}
.footer-lower__logo {
  width: 126px;
  height: 54px;
}
.footer-lower__title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 170%;
  color: #333333;
}
.footer-lower__right-container {
  margin-top: 32px;
}
.footer-lower__right {
  margin-left: 205px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer-lower__form-upper {
  width: 440px;
  align-items: center;
  gap: 10px;
  margin-bottom: 23px;
}
.footer-lower__form-upper h3 {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #333333;
}
.footer-lower__form-lower {
  width: 440px;
  position: relative;
}
.footer-lower__form-lower img {
  position: absolute;
  right: 8px;
  z-index: 1;
}
.footer-lower__form-lower input {
  position: absolute;
  width: 100%;
  padding-bottom: 15px;
  border: none;
  border-bottom: 1px solid #141414;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #333333;
}
.footer-lower__form-lower input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #D9D9D9;
}
.footer-lower__form-lower input:focus {
  outline: none;
}
.footer-lower__social-media {
  margin: 80px 0 84px 240px;
}
.footer-lower__social-media-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #333333;
  margin-bottom: 11px;
}
.footer-lower__social-media-list {
  display: flex;
  gap: 25px;
}
.footer-lower__social-media-list a div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #D9D9D9;
  border: 1px solid #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .footer-upper {
    padding: 40px 120px;
    background: #2C3878;
    margin-bottom: 80px;
  }
  .footer-upper .row {
    flex-direction: column;
    gap: 20px;
  }
  .footer-upper__left-container {
    width: 100%;
  }
  .footer-upper__right-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .footer-lower__right {
    margin-left: 0;
  }
  .footer-lower__social-media {
    margin: 80px 0 84px 0px;
  }
}
@media screen and (max-width: 1000px) {
  .header__nav {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #333333;
    align-items: center;
    gap: 50px;
    position: fixed;
    right: 102px;
    z-index: 2;
    right: 29px;
  }
  .header__nav .header__links-btn {
    margin-right: 0;
    width: 142px;
    height: 49px;
    padding: 14px 32px;
    background: #2C3878;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
  }
  .footer-lower__right {
    margin-left: 0;
  }
}
@media screen and (max-width: 770px) {
  .open {
    display: flex !important;
  }
  .header__burger {
    display: flex;
    position: fixed;
    right: 50px;
  }
  .header__nav {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    overflow-y: auto;
    padding: 50px 40px;
    background: #2C3878;
    color: #FFFFFF;
  }
  .header__nav .header__links {
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
  }
  .header__nav .header__links-btn {
    width: 150px;
    color: #2C3878;
    background: white;
  }
  .header__nav .header__links:hover {
    color: white;
  }
  .header__nav .header__links-btn:hover {
    width: 150px;
    color: #2C3878;
    background: white;
  }
}
.home {
  margin-bottom: 160px;
}
.home .container {
  position: relative;
}
.home__title {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 140%;
  color: #333333;
  margin-bottom: 46px;
}
.home__right {
  width: 59%;
  position: absolute;
  right: 12px;
  top: 48px;
  border-top: 2px solid #000000;
  padding-top: 63px;
  display: flex;
  justify-content: flex-end;
}
.home__text {
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}
.home__experience-block {
  position: absolute;
  right: 0;
  padding: 40px 48px;
  background: #2C3878;
  top: 138px;
  right: 142px;
  display: flex;
  flex-direction: column;
  gap: 57px;
}
.home__projects, .home__teams, .home__experience {
  text-align: center;
}
.home__projects-number {
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 160%;
  color: #FFFFFF;
}
.home__projects-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}
.home__teams-number {
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 160%;
  color: #FFFFFF;
}
.home__teams-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}
.home__experience-number {
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 160%;
  color: #FFFFFF;
}
.home__experience-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}
.home__img {
  height: 513px;
  width: 100%;
  background: url("../images/home/home/home.png") center/cover no-repeat;
}

.about {
  margin-bottom: 160px;
}
.about__subtitle {
  position: relative;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.about__subtitle div {
  width: 529px;
  background: #000;
  position: absolute;
  top: 9px;
  left: 71px;
  border-top: 2px solid #000000;
}
.about__title {
  max-width: 1200px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 170%;
  color: #333333;
  margin-bottom: 60px;
}
.about__main {
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.about__main-profile {
  position: absolute;
  padding: 17px 52px 17px 20px;
  background: #FFFFFF;
  top: 27px;
  right: 210px;
}
.about__main-profile-name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
}
.about__main-profile-position {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #9C9C9C;
  width: 133px;
}
.about__main-right {
  width: 223px;
  margin-top: 197px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about__main-right div {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #9C9C9C;
}
.about__main-right a {
  width: 142px;
  display: inline-block;
  padding: 14px 32px;
  background: #2C3878;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}

.service {
  margin-bottom: 172px;
}
.service__layers {
  position: relative;
  height: 828px;
  width: 100%;
}
.service__top-layer {
  position: relative;
  max-width: 883px;
  width: 100%;
  z-index: 1;
  padding: 0 40px 41px 0;
  background: #FFFFFF;
}
.service__subtitle {
  position: relative;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.service__subtitle div {
  width: 529px;
  background: #000;
  position: absolute;
  top: 9px;
  left: 84px;
  border-top: 2px solid #000000;
}
.service__title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 170%;
  color: #333333;
  margin-bottom: 24px;
}
.service__text {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #9C9C9C;
}
.service__list {
  justify-content: space-between;
  margin-bottom: 34px;
}
.service__list-bottom {
  margin-bottom: 0;
}
.service__left {
  gap: 40px;
}
.service__left-number, .service__left-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #333333;
}
.service__bottom-layer {
  position: absolute;
  right: 0;
  top: 304px;
  max-width: 1076px;
  width: 100%;
  height: 682px;
  background: url("../images/home/service/service.png") no-repeat;
}

.product {
  margin-bottom: 222px;
}
.product__subtitle {
  position: relative;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.product__subtitle div {
  width: 529px;
  background: #000;
  position: absolute;
  top: 9px;
  left: 96px;
  border-top: 2px solid #000000;
}
.product__about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
}
.product__about h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 170%;
  color: #333333;
}
.product__about div {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #9C9C9C;
}
.product__list {
  justify-content: space-between;
  margin-bottom: 43px;
}
.product__list-bottom {
  margin-bottom: 0;
}
.product__left {
  gap: 80px;
}
.product__left-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.product__left-number, .product__left-title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  color: #333333;
}
.product__left-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #333333;
}

.material {
  margin-bottom: 167px;
}
.material__left-subtitle {
  position: relative;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #141414;
}
.material__left-subtitle div {
  width: 529px;
  background: #000;
  position: absolute;
  top: 9px;
  left: 97px;
  border-top: 2px solid #000000;
}
.material__left-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 170%;
  color: #333333;
}
.material__left-text {
  margin-bottom: 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #9C9C9C;
}
.material__left-btn {
  display: inline-block;
  padding: 14px 32px;
  background: #FFFFFF;
  border: 1px solid #3C3C3C;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}
.material__right {
  height: 440px;
  position: relative;
  display: flex;
  gap: 40px;
}
.material__pics-left {
  display: flex;
  align-items: flex-end;
}
.material__pics-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  right: 0;
  top: -59px;
}
.material__pics-right .material__pic-upper-bottom {
  width: 195px;
}

@media screen and (max-width: 1400px) {
  .home__right {
    width: 50%;
    position: absolute;
    right: 12px;
    top: 48px;
    border-top: none;
    padding-top: 63px;
    display: flex;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 1000px) {
  .home__title {
    font-size: 50px;
  }
  .home__right {
    display: flex;
    top: 0;
  }
  .home__experience-block {
    position: absolute;
    padding: 15px 23px;
    background: #2C3878;
    top: 100px;
    right: 164px;
    display: flex;
    flex-direction: column;
    gap: 37px;
  }
  .home__projects-number {
    font-size: 30px;
  }
  .home__teams-number {
    font-size: 30px;
  }
  .home__experience-number {
    font-size: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .home__experience-block {
    position: absolute;
    right: 0;
    padding: 20px 28px;
    background: #2C3878;
    top: 138px;
    right: 90px;
    display: flex;
    flex-direction: column;
    gap: 37px;
  }
  .about {
    margin-bottom: 160px;
  }
  .about__main {
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    position: relative;
  }
  .about__main-left img {
    width: 100%;
  }
  .about__main-profile {
    position: absolute;
    padding: 17px 52px 17px 20px;
    background: #FFFFFF;
    top: 1px;
    right: 1px;
  }
  .about__main-right {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .service__top-layer {
    position: relative;
    max-width: 780px;
    width: 100%;
    z-index: 1;
    padding: 0 40px 41px 0;
    background: #FFFFFF;
  }
}
.about {
  padding-top: 100px;
}
.about__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 140%;
  /* or 78px */
  text-align: center;
  /* Grayscale/Black */
  color: #000000;
  padding-bottom: 36px;
}
.about__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  text-align: center;
  /* Grayscale/Black */
  color: #000000;
  padding-bottom: 57px;
}
.about__img {
  background: url(../images/about/bg1.png) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.about__statistics-title {
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 24px */
  color: #000000;
  padding-bottom: 20px;
}
.about__statistics-text {
  color: var(--grayscale-black, #000);
  /* Poppins/SemiBold/36 */
  font-family: "Poppins";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%; /* 61.2px */
}
.about__statistics-line {
  width: 464px;
  height: 1px;
  padding-left: 23px;
}
.about__statistics-flex {
  display: flex;
  gap: 60px;
}
.about__statistics-img {
  background: url(../images/about/img1.png) center/cover no-repeat;
  min-width: 883px;
  min-height: 525px;
}
.about__statistics-box {
  min-width: 252px;
  min-height: 525px;
  background: #2c3878;
  text-align: center;
  justify-content: center;
  padding: 50px;
}
.about__statistics-num {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 160%;
  /* or 83px */
  /* Grayscale/White */
  color: #ffffff;
}
.about__statistics-words {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */
  /* Grayscale/White */
  color: #ffffff;
}
.about-choose {
  padding: 100px 0 100px;
}
.about-choose__line {
  padding-left: 20px;
}
.about-choose__service {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  /* Grayscale/Black */
  color: #000000;
  padding: 100px 0 20px;
}
.about-choose .row {
  display: flex;
  text-align: center;
  gap: 40px;
}
.about-choose .col-md-4 {
  max-width: 388px;
  min-height: 295px;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}
.about-choose__ava {
  margin: 20px auto;
  width: 63px;
  height: 63px;
  background: #d9d9d9;
  border-radius: 50%;
}
.about-choose__title {
  color: var(--grayscale-black, #000);
  /* Poppins/Medium/16 */
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  padding-bottom: 20px;
}
.about-choose__tit {
  color: var(--grayscale-50, #333);
  /* Poppins/SemiBold/36 */
  font-family: "Poppins";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%; /* 61.2px */
  padding-bottom: 25px;
}
.about-choose__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  /* Grayscale/10 */
  color: #9c9c9c;
  padding-bottom: 40px;
}

.service-home {
  max-width: 100%;
  width: 100%;
}
.service-home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 112px;
}
.service-home__title {
  margin-bottom: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 140%;
  color: #000000;
}
.service-home__text {
  text-align: center;
  width: 518px;
  margin-bottom: 57px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
}
.service-home__pic-container {
  width: 100%;
  height: 513px;
  background: url("../images/services/home/home-bg.png") no-repeat;
}

.achievement {
  margin-bottom: 112px;
}
.achievement__subtitle {
  position: relative;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.achievement__subtitle div {
  width: 529px;
  background: #000;
  position: absolute;
  top: 9px;
  left: 136px;
  border-top: 2px solid #000000;
}
.achievement__title {
  max-width: 1200px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 170%;
  color: #333333;
  margin-bottom: 60px;
}
.achievement__main {
  width: 100%;
  justify-content: space-between;
  position: relative;
  margin-bottom: 40px;
}
.achievement__main-right {
  width: 334px;
  margin-top: 95px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.achievement__main-right-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #333333;
}
.achievement__main-right div {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #9C9C9C;
}
.achievement__main-bottom {
  margin-bottom: 0;
}

.product {
  margin-bottom: 103px;
}
.product__subtitle {
  position: relative;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.product__subtitle div {
  width: 529px;
  background: #000;
  position: absolute;
  top: 9px;
  left: 96px;
  border-top: 2px solid #000000;
}
.product__about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
}
.product__about h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 170%;
  color: #333333;
}
.product__about div {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #9C9C9C;
}
.product__list {
  justify-content: space-between;
  margin-bottom: 43px;
}
.product__list-bottom {
  margin-bottom: 0;
}
.product__left {
  gap: 80px;
}
.product__left-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.product__left-number, .product__left-title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  color: #333333;
}
.product__left-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #333333;
}

.our-teams {
  padding-top: 100px;
}
.our-teams__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 140%;
  /* or 78px */
  text-align: center;
  /* Grayscale/Black */
  color: #000000;
  padding-bottom: 36px;
}
.our-teams__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  text-align: center;
  /* Grayscale/Black */
  color: #000000;
  padding-bottom: 57px;
}
.our-teams__img {
  background: url(../images/ourTeams/bg1.png) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.our-teams-creative__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  /* Grayscale/Black */
  color: #000000;
  padding: 100px 0 40px;
}
.our-teams-creative__line {
  padding-left: 23px;
}
.our-creative__title {
  padding: 20px 62px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  /* identical to box height, or 34px */
  /* Grayscale/50 */
  color: #333333;
}
.our-creative__text {
  padding: 0 27px 22px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  /* Grayscale/10 */
  color: #9C9C9C;
}
.our-creative .row {
  padding-top: 50px;
  gap: 23px;
}
.our-creative .col-md-3 {
  background: #2C3878;
  max-width: 282px;
  min-height: 400px;
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
}
.our-creative__card {
  width: 258px;
  height: 96px;
  background: #FFFFFF;
  position: absolute;
  bottom: 12px;
  left: 12px;
}
.our-creative__name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  /* identical to box height, or 34px */
  /* Grayscale/50 */
  color: #333333;
  padding: 18px 16px 0;
}
.our-creative__ceo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */
  /* Grayscale/10 */
  color: #9C9C9C;
}
.our-choose {
  padding-bottom: 100px;
}
.our-choose__line {
  padding-left: 20px;
}
.our-choose__service {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  /* Grayscale/Black */
  color: #000000;
  padding: 100px 0 20px;
}
.our-choose .row {
  display: flex;
  text-align: center;
  gap: 40px;
}
.our-choose .col-md-4 {
  max-width: 388px;
  min-height: 295px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}
.our-choose__ava {
  margin: 20px auto;
  width: 63px;
  height: 63px;
  background: #D9D9D9;
  border-radius: 50%;
}
.our-choose__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  /* identical to box height, or 34px */
  /* Grayscale/50 */
  color: #333333;
}
.our-choose__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  /* Grayscale/10 */
  color: #9C9C9C;
  padding: 24px 0 40px;
}

.contact-us {
  padding-top: 100px;
}
.contact-us__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 140%;
  /* or 78px */
  text-align: center;
  /* Grayscale/Black */
  color: #000000;
  padding-bottom: 36px;
}
.contact-us__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  text-align: center;
  /* Grayscale/Black */
  color: #000000;
  padding-bottom: 57px;
}
.contact-form {
  position: relative;
}
.contact-form input[type=text],
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #9C9C9C;
  background: #FFFFFF;
  margin-top: 16px;
  margin-bottom: 16px;
  resize: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.contact-form input[type=submit] {
  position: absolute;
  right: 46%;
  top: 110%;
  background: #2C3878;
  color: white;
  padding: 14px 32px;
  border: 1px solid #3C3C3C;
  cursor: pointer;
}
.contact-visit {
  padding: 130px 0 100px;
}
.contact-visit__line {
  padding-left: 20px;
}
.contact-visit__service {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  /* Grayscale/Black */
  color: #000000;
  padding: 100px 0 20px;
}
.contact-visit__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 170%;
  /* or 61px */
  /* Grayscale/50 */
  color: #333333;
}
.contact-visit__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */
  /* Grayscale/10 */
  color: #9C9C9C;
}
.contact-visit__maxtext {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  /* identical to box height, or 34px */
  /* Grayscale/50 */
  color: #333333;
}
.contact-visit__mintext {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #9C9C9C;
}
.contact-visit .row {
  padding-left: 193px;
}
.contact-visit .col-md-6 {
  padding: 0 60px;
}

.portofolio {
  padding-top: 100px;
}
.portofolio__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 140%;
  /* or 78px */
  text-align: center;
  /* Grayscale/Black */
  color: #000000;
  padding-bottom: 36px;
}
.portofolio__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  text-align: center;
  /* Grayscale/Black */
  color: #000000;
  padding-bottom: 57px;
}
.portofolio__img {
  background: url(../images/bg1.png) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.portofolio-room__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  /* Grayscale/Black */
  color: #000000;
  padding: 100px 0 40px;
}
.portofolio-room__line {
  padding-left: 23px;
}
.portofolio-room__general {
  padding-top: 52px;
  display: flex;
  gap: 94px;
}
.portofolio-room__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  /* identical to box height, or 34px */
  /* Grayscale/50 */
  color: #333333;
  padding-bottom: 20px;
}
.portofolio-room__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  /* Grayscale/10 */
  color: #9C9C9C;
  padding-bottom: 40px;
}
.portofolio-room__btn {
  padding: 14px 32px;
  background: #2C3878;
  /* Grayscale/30 */
  border: 1px solid #3C3C3C;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
.portofolio-room__img1 {
  background: url(../images/portofolio/img1.png) center/cover no-repeat;
  min-width: 883px;
  height: 525px;
}
.portofolio-room__img2 {
  background: url(../images/portofolio/img2.png) center/cover no-repeat;
  min-width: 883px;
  height: 525px;
}
.portofolio-room__img3 {
  background: url(../images/portofolio/img3.png) center/cover no-repeat;
  min-width: 883px;
  height: 525px;
}
.portofolio-room__img4 {
  background: url(../images/portofolio/img4.png) center/cover no-repeat;
  min-width: 883px;
  height: 525px;
}
.portofolio-choose__box {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 100px;
}
.portofolio-choose .row {
  display: flex;
  text-align: center;
  gap: 40px;
}
.portofolio-choose .col-md-4 {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}
.portofolio-choose__ava {
  margin: 20px auto;
  width: 63px;
  height: 63px;
  background: #D9D9D9;
  border-radius: 50%;
}
.portofolio-choose__title {
  padding: 20px 62px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  /* identical to box height, or 34px */
  /* Grayscale/50 */
  color: #333333;
}
.portofolio-choose__text {
  padding: 0 27px 22px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  /* Grayscale/10 */
  color: #9C9C9C;
}

.portofolio {
  padding-top: 100px;
}
.portofolio__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 140%;
  /* or 78px */
  text-align: center;
  /* Grayscale/Black */
  color: #000000;
  padding-bottom: 36px;
}
.portofolio__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  text-align: center;
  /* Grayscale/Black */
  color: #000000;
  padding-bottom: 57px;
}
.portofolio__img {
  background: url(../images/minimalistRoom/bg1.png) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.portofolio__info {
  padding: 100px 0 50px;
}
.portofolio__info-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  /* identical to box height, or 34px */
  /* Grayscale/50 */
  color: #333333;
  padding-bottom: 24px;
}
.portofolio__info-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  /* Grayscale/10 */
  color: #9C9C9C;
}
.portofolio__bg-first {
  background: url(../images/minimalistRoom/img1.png) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.portofolio__bg-second {
  background: url(../images/minimalistRoom/img2.png) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.portofolio__bg-third {
  background: url(../images/minimalistRoom/img3.png) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.portofolio__bg-fourth {
  background: url(../images/minimalistRoom/img4.png) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.portofolio__bg-fifth {
  background: url(../images/minimalistRoom/img5.png) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.portofolio__bg .row {
  padding: 32px 0;
}

.modern {
  padding-top: 100px;
}
.modern__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 140%;
  /* or 78px */
  text-align: center;
  /* Grayscale/Black */
  color: #000000;
  padding-bottom: 36px;
}
.modern__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  text-align: center;
  /* Grayscale/Black */
  color: #000000;
  padding-bottom: 57px;
}
.modern__img {
  background: url(../images/portofolio/img3.png) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.modern__info {
  padding: 100px 0 50px;
}
.modern__info-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  /* identical to box height, or 34px */
  /* Grayscale/50 */
  color: #333333;
  padding-bottom: 24px;
}
.modern__info-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  /* Grayscale/10 */
  color: #9C9C9C;
}
.modern__bg-first {
  background: url(https://i.pinimg.com/564x/2b/7c/48/2b7c48e5c5fd9e8b6e28a6a7d941e2d4.jpg) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.modern__bg-second {
  background: url(https://i.pinimg.com/564x/36/7e/78/367e78e6f441128ba9ceb20146d35664.jpg) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.modern__bg-third {
  background: url(https://i.pinimg.com/564x/47/22/de/4722dee3138cc48bb94d4781dc4de72a.jpg) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.modern__bg-fourth {
  background: url(https://i.pinimg.com/564x/da/14/51/da1451012fe83b692c98fc85cb18dc56.jpg) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.modern__bg-fifth {
  background: url(https://i.pinimg.com/564x/26/50/bd/2650bd35c15fa58d2b6327fab673d8b0.jpg) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.modern__bg .row {
  padding: 32px 0;
}

.vintage {
  padding-top: 100px;
}
.vintage__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 140%;
  /* or 78px */
  text-align: center;
  /* Grayscale/Black */
  color: #000000;
  padding-bottom: 36px;
}
.vintage__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  text-align: center;
  /* Grayscale/Black */
  color: #000000;
  padding-bottom: 57px;
}
.vintage__img {
  background: url(../images/portofolio/img2.png) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.vintage__info {
  padding: 100px 0 50px;
}
.vintage__info-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  /* identical to box height, or 34px */
  /* Grayscale/50 */
  color: #333333;
  padding-bottom: 24px;
}
.vintage__info-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  /* Grayscale/10 */
  color: #9C9C9C;
}
.vintage__bg-first {
  background: url(https://i.pinimg.com/564x/f4/1b/bc/f41bbc810addc775bea76de7b4ece77c.jpg) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.vintage__bg-second {
  background: url(https://i.pinimg.com/564x/30/c2/a0/30c2a0d3b367fdeaf24f7a89d2798634.jpg) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.vintage__bg-third {
  background: url(https://i.pinimg.com/564x/3e/d3/da/3ed3dabb7c54e7f461dd59a7469bc6ed.jpg) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.vintage__bg-fourth {
  background: url(https://i.pinimg.com/564x/15/d5/4a/15d54a30d7e98c5bd1129b1006a047a7.jpg) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.vintage__bg-fifth {
  background: url(https://i.pinimg.com/564x/42/8c/cf/428ccff29f0e40591a1e46c55ac601e9.jpg) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.vintage__bg .row {
  padding: 32px 0;
}

.transitional {
  padding-top: 100px;
}
.transitional__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 140%;
  /* or 78px */
  text-align: center;
  /* Grayscale/Black */
  color: #000000;
  padding-bottom: 36px;
}
.transitional__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  text-align: center;
  /* Grayscale/Black */
  color: #000000;
  padding-bottom: 57px;
}
.transitional__img {
  background: url(../images/portofolio/img4.png) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.transitional__info {
  padding: 100px 0 50px;
}
.transitional__info-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  /* identical to box height, or 34px */
  /* Grayscale/50 */
  color: #333333;
  padding-bottom: 24px;
}
.transitional__info-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  /* Grayscale/10 */
  color: #9C9C9C;
}
.transitional__bg-first {
  background: url(https://i.pinimg.com/564x/f0/4d/7d/f04d7dce5d1f0c399d3f32410958d8d9.jpg) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.transitional__bg-second {
  background: url(https://i.pinimg.com/564x/cb/18/83/cb18834072ec193fdde642ab4f6bc485.jpg) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.transitional__bg-third {
  background: url(https://i.pinimg.com/564x/3d/e6/75/3de675a5dc391c4c6bdd38eb6655897d.jpg) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.transitional__bg-fourth {
  background: url(https://i.pinimg.com/564x/d2/0e/c8/d20ec89c2e294abaf8090d540ef51669.jpg) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.transitional__bg-fifth {
  background: url(https://i.pinimg.com/564x/f2/f6/ae/f2f6ae80ec37b9a89c12efa7f5886a21.jpg) center/cover no-repeat;
  width: 100%;
  min-height: 513px;
}
.transitional__bg .row {
  padding: 32px 0;
}/*# sourceMappingURL=style.css.map */