.service-home{
    max-width: 100%;
    width: 100%;
    
    &__container{
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-bottom: 112px;
    }
    &__title{
        margin-bottom: 36px;
        @include text(normal,700,56px,140%,#000000);

    }

    &__text{
        text-align: center;
        width: 518px;
        margin-bottom: 57px;
        @include text(normal,400,18px,160%,#000000);
    }

    &__pic-container{
        width: 100%;
        height: 513px;
        background: url('../images/services/home/home-bg.png') no-repeat;
    }
}

.achievement{
    margin-bottom: 112px;
    &__subtitle {
        position: relative;
        margin-bottom: 20px;
        @include text(normal, 500, 16px, 150%, #000000);


        div {
            width: 529px;
            background: #000;
            position: absolute;
            top: 9px;
            left: 136px;
            border-top: 2px solid #000000;
        }

    }

    &__title {
        max-width: 1200px;
        @include text(normal, 600, 36px, 170%, #333333);
        margin-bottom: 60px;
    }

    &__main {
        width: 100%;
        justify-content: space-between;
        position: relative;
        margin-bottom: 40px;

        &-right {
            width: 334px;
            margin-top: 95px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            &-title{
                @include text(normal, 600,24px,140%,#333333);
            }

            div {
                
                @include text(normal, 400, 18px, 160%, #9C9C9C);
            }

        }
    }

    &__main-bottom{
        margin-bottom: 0;
    }



}

.product {
    margin-bottom: 103px;

    &__subtitle {
        position: relative;
        margin-bottom: 20px;
        @include text(normal, 500, 16px, 150%, #000000);


        div {
            width: 529px;
            background: #000;
            position: absolute;
            top: 9px;
            left: 96px;
            border-top: 2px solid #000000;
        }

    }

    &__about {
        display: flex;
        justify-content: space-between;
        margin-bottom: 73px;

        h3 {
            @include text(normal, 600, 36px, 170%, #333333);
        }

        div {
            @include text(normal, 400, 18px, 160%, #9C9C9C);
        }
    }

    &__list {
        justify-content: space-between;
        margin-bottom: 43px;

        &-bottom {
            margin-bottom: 0;
        }
    }

    &__left {
        gap: 80px;

        &-container {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &-number,
        &-title {
            @include text(normal, 600, 32px, 140%, #333333);
        }

        &-text {
            @include text(normal, 400, 18px, 160%, #333333);
        }
    }

}

